//Post Form
.post-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
    height: 2.2rem;
    width: 100%;
    padding: 8px;
  }
  &__secondary-input {
    display: flex;
    justify-content: space-between;
  }
  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
.tag-box {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  margin: 3px 4px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}
.added {
  background-color: $secondary-color;
}

.dashboard-main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.main-content-section {
  width: 60%;
  border-radius: 1px solid black;
}

.post-btn {
  height: 2.5rem;
  width: 12rem;
  background-color: $secondary-color ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-direction: column-reverse;
}

//Post content
.post-content {
  display: flex;
  flex-direction: column;
  margin: 1.25rem auto;
  width: 100%;
  border: 3px solid lightgrey;
  &__user-info {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  &__name {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    &--delete {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
      background-color: lightgray;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  &__content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0.25rem 0.5rem;
    &--image-container {
      display: flex;
      margin: 0.5rem 5%;
      height: 20rem;
      width: 90%;
      border-radius: 2rem;
      position: relative;
      overflow: hidden;
      .post-image {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  &__like-box {
    display: flex;
    .heart {
      color: grey;
    }
  }
  &__comment-box {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    h4 {
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
    }
  }
}

//Like dislike posts
.like-heart {
  margin: 0 0.1rem 0.75rem 0.5rem;
  background-color: $white;
  cursor: pointer;
  &:active {
    color: red;
  }
}
.like-count {
  margin: 0.2rem 1rem 0 0;
}
.dislike-count {
  margin: 0.2rem 1rem 0 0.1rem;
}
.dislike-heart {
  cursor: pointer;
}

.form-comment {
  display: flex;
  justify-content: space-between;
  .comment-form {
    width: 70%;
    margin: 0 8px;
    input {
      height: 3rem;
      /* width: 20rem;
      min-width: 10rem; */
      padding-left: 8px;
      font-family: "Poppins", sans-serif;
      &::placeholder {
        font-family: "Poppins", sans-serif;
      }
    }
  }
  .refresh-btn {
    height: 3rem;
    font-family: "Poppins", sans-serif;  
    margin-right: 8px;
  }
}

@media(max-width: 900px) {
  .main-content-section {
    width: 90%;
  }
  .post-content {
    width: 100%;
  }
} 

.modal {
  display: none;
  height: 100vh;
  width: 97vw;
  background-color: $white;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.visible {
  z-index: 999;
  margin-top: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  position: fixed;
}
@media(max-width: 900px) {
  .visible {
    width: 90%;
  }
}

.icn-modal {
  display: flex;
  justify-content: flex-end;
}
.close-modal {
  margin: 0 1rem 0 auto;
  cursor: pointer;
}
.modal-post-container {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.filter-main {
  margin: auto;
}