.profile-section-info {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  height: 20rem;
  width: 35rem;
  border: 3px solid $border-color;
  overflow: hidden;
  &__img {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    form {
      margin-left: 0.3rem;
      button {
        margin-top: -0.5rem;
      }
    }
    &--ctn {
      height: 20rem;
      width: 15rem;
      position: relative;
      &__img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  &__details {
    margin: 1rem 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    width: 100%;
    h3 {
      display: flex;
      justify-content: space-between;
    }
  }
}
.btn-box-profile {
  display: flex;
  position: absolute;
  margin-top: 9rem;
  .btn {
    max-width: 8rem;
  }
}

.update {
  cursor: pointer;
}

// FORMS
.update-user-form, .update-bio, .update-job {
  display: none;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 16rem);
  margin-top: 1rem;
}
.input-update {
  height: 2.2rem;
  width: 15rem;
}
.update-forms-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.delete-modal {
  display: none;
  flex-direction: column;
  margin-left: 10%;
  max-width: 50rem;
  height: 8rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  z-index: 99;
  background-color: $white;
}
.show {
  display: grid;
}
.show-delete {
  display: flex;
} 
@media(max-width: 600px) {
  .profile-section-info{
    flex-direction: column ;
    width: 20rem;
    height: 30rem;
    &__details {
      width: 90%;
    }
    &__img{ 
      height: 15rem;
      width: 20rem;
      margin-left: 2.5rem;
      overflow: hidden;
      form {
        margin-left: 0;
        overflow: hidden;
      }
    }
  }

  .btn-box-profile {
    margin-top: 2rem;
  }
  .update-user-form, .update-bio, .update-job {
    display: none;
    flex-direction: column;
  }
  .delete-modal {
    margin-left: 15%;
  }
  .show{
    display: flex;
  }
}

.update-profile-btn {
  width: 1.5rem;
  background-color: white;
  border: none;
}