.add-comment-modal {
  height: 14rem;
}

.label-add-comment {
  font-family: 'Poppins', sans-serif;
}

.input-comment {
  resize: none;
  padding: 6px;
  max-width: 90%;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
}