@import '../utils/variables';

/***************register form *************/
.register-form{
  display: flex;
  flex-direction: column;
  margin: 10rem 4rem;
}
@media (max-width: 800px) {
  .register-form {
    margin: 10rem auto 5rem auto;
  }
}
input {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.input {
  position: relative;
  &__field {
    box-sizing: border-box;
    display: block;
    width: 18rem;
    height: 2.2rem;
    border: 3px solid $border-color;
    border-radius: 4px;
    padding: .5rem;
  }
}
.btn-box {
  display: flex;
  justify-content: center;
}
.show-hide-icon {
  position: absolute;
  margin-top: -2.5rem;
  margin-left: 16rem;
}
@media (max-width: 800px) {
  .register-form {
    justify-content: center;
  }
}
/****** signup form *****/
.signup-form {
  margin: 14rem 4rem;
}

@media (max-width: 800px) {
  .signup-form {
    margin: 10rem auto 5rem auto;
  }
}