.account-info {
  width: 25%;
  height: 25rem;
  padding-top: 0.5rem;
  background-color: grey;
  &__title {
    text-align: center;
  }
  &__container-photo {
    position: relative;
    margin: 2rem 1.5rem;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}