@import "../utils/variables";

.main-header {
  display: flex;
  padding-left: 35%;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: $secondary-color;
  box-shadow: 3px 3px 15px 2px #d9d9d9;
}
.icons-container {
  display: flex;
  color: $white;
  cursor: pointer;
}
.menu-icn {
  margin: 0 1rem;
}
.search-form {
  position: relative;
  margin-top: auto;
  label {
    display: none;
  }
  &__input {
    padding-left: 4px;
    height: 2.2rem;
    width: 13rem;
    border: 1px solid black;
    border-radius: 4px;
  }
  &__icn {
    position: absolute;
    margin-top: 0.6rem;
    margin-left: 11.5rem;
    cursor: pointer;
  }
}