@import '../utils/variables';

.dashboard-main {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.main-content-section {
  width: 50%;
  border-radius: 1px solid black;
}

.post-btn {
  height: 2.5rem;
  width: 12rem;
  background-color: $secondary-color ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  margin: auto;
}


//modal post 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  width: 80%;
  height: 40%;
}

//Post content
.post-content {
  margin: 1.25rem auto;
  width: 80%;
  border: 1px solid black;
  &__user-info {
    display: flex;
    padding: 8px;
    &__photo-container {
      height: 1.5rem;
      width: 1.5rem;
      background-color: grey;
      position: relative;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
  }
  &__content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0.75rem 0.5rem;
  }
  &__like-box {
    display: flex;
  }
}

//Like dislike posts
.like-heart {
  margin: 0 0.75rem 0.75rem 0.5rem;
  background-color: $white;
  transition: background-color 1s;
  cursor: pointer;
}
.dislike-heart {
  cursor: pointer;
}