* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/***************register form *************/
.register-form {
  display: flex;
  flex-direction: column;
  margin: 10rem 4rem;
}

@media (max-width: 800px) {
  .register-form {
    margin: 10rem auto 5rem auto;
  }
}
input {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.input {
  position: relative;
}
.input__field {
  box-sizing: border-box;
  display: block;
  width: 18rem;
  height: 2.2rem;
  border: 3px solid #B6B6B6;
  border-radius: 4px;
  padding: 0.5rem;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.show-hide-icon {
  position: absolute;
  margin-top: -2.5rem;
  margin-left: 16rem;
  z-index: 99;
}

@media (max-width: 800px) {
  .register-form {
    justify-content: center;
  }
}
/****** login form *****/
.login-form {
  margin: 14rem 4rem;
}

@media (max-width: 800px) {
  .login-form {
    margin: 15rem auto 5rem auto;
  }
}
.public-body {
  display: flex;
  justify-content: center;
  margin-top: 6.5rem;
}
.public-body .logo-container {
  position: relative;
  margin-top: 4rem;
  width: 25rem;
  height: 25rem;
}
.public-body .logo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .register-body {
    margin-top: -5rem;
    flex-direction: column-reverse;
  }
  .register-body__logo-container {
    width: 20rem;
    height: 20rem;
    margin: -2rem auto 0 auto;
  }
}
.btn {
  height: 2.2rem;
  width: 9rem;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.signup-btn {
  background-color: #FD2D01;
  width: 6rem;
  color: #FFFFFF;
}

.login-btn {
  width: 8rem;
  border: 2px solid #FD2D01;
  background-color: #FFFFFF;
  color: #FD2D01;
}

.act-btn {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 2.2rem;
  width: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #FD2D01;
  cursor: pointer;
}

.disconnect {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.profile-section-info {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  height: 20rem;
  width: 50%;
  border: 1px solid black;
}
.profile-section-info__img-ctn {
  height: 100%;
  width: 40%;
  position: relative;
  background-color: black;
}
.profile-section-info__img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.profile-section-info__details {
  margin: 1rem 1rem;
}

.comment-box {
  display: flex;
  flex-direction: column-reverse;
}
.comment-box__container {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  margin: 0.3rem 0.5rem;
  padding: 8px;
  background-color: lightgray;
  border: 1px solid transparent;
  border-radius: 5px;
}
.comment-box__container h4 {
  font-family: "Poppins", sans-serif;
}
.comment-box__container p {
  display: flex;
  align-items: center;
  margin: 0.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.comment-box__trash {
  margin: 0.2rem 1rem 0.2rem auto;
  cursor: pointer;
}

.public-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  background-color: #FD2D01;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 3px 3px 15px 2px #d9d9d9;
}
.public-header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
.public-header nav ul {
  display: flex;
}
.public-header nav ul li {
  margin: 0 0.5rem;
}

.panel {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 2.2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.confirm-panel {
  background-color: lightgreen;
}

.deny-panel {
  background-color: lightsalmon;
}

.fail-login-panel {
  background-color: lightsalmon;
}

.restricted-header {
  display: flex;
  padding-left: 35%;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: #FD2D01;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 3px 3px 15px 2px #d9d9d9;
}

.icons-container {
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
}

.menu-icon {
  margin: 0 1rem;
}

.disconnect {
  cursor: pointer;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.post-form__content {
  height: 2.2rem;
  width: 100%;
  padding: 8px;
}
.post-form__secondary-input {
  display: flex;
  justify-content: space-between;
}

.dashboard-main {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.main-content-section {
  width: 50%;
  border-radius: 1px solid black;
}

.post-btn {
  height: 2.5rem;
  width: 12rem;
  background-color: #FD2D01;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-direction: column-reverse;
}

.post-content {
  margin: 1.25rem auto;
  width: 80%;
  border: 3px solid lightgrey;
}
.post-content__user-info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.post-content__name {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.post-content__name--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: lightgray;
  border-radius: 3px;
  cursor: pointer;
}
.post-content__content {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0.25rem 0.5rem;
}
.post-content__content--image-container {
  display: flex;
  margin: 0.5rem 5%;
  height: 20rem;
  width: 90%;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
.post-content__content--image-container .post-image {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.post-content__like-box {
  display: flex;
}
.post-content__like-box .heart {
  color: grey;
}
.post-content__comment-box {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.post-content__comment-box h4 {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.like-heart {
  margin: 0 0.1rem 0.75rem 0.5rem;
  background-color: #FFFFFF;
  cursor: pointer;
}
.like-heart:active {
  color: red;
}

.like-count {
  margin: 0.2rem 1rem 0 0;
}

.dislike-count {
  margin: 0.2rem 1rem 0 0.1rem;
}

.dislike-heart {
  cursor: pointer;
}

.form-comment {
  display: flex;
  justify-content: space-between;
}
.form-comment .comment-form {
  margin: 0 8px;
}
.form-comment .comment-form input {
  height: 2.2rem;
  width: 22rem;
  padding-left: 8px;
  font-family: "Poppins", sans-serif;
}
.form-comment .comment-form input::placeholder {
  font-family: "Poppins", sans-serif;
}
.form-comment .refresh-btn {
  height: 2.2rem;
  font-family: "Poppins", sans-serif;
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
