* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/***************register form *************/
.register-form {
  display: flex;
  flex-direction: column;
  margin: 10rem 4rem;
}

@media (max-width: 800px) {
  .register-form {
    margin: 10rem auto 5rem auto;
  }
}
input {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.input {
  position: relative;
}
.input__field {
  box-sizing: border-box;
  display: block;
  width: 18rem;
  height: 2.2rem;
  border: 3px solid #B6B6B6;
  border-radius: 4px;
  padding: 0.5rem;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.show-hide-icon {
  position: absolute;
  margin-top: -2.5rem;
  margin-left: 16rem;
  z-index: 99;
}

@media (max-width: 800px) {
  .register-form {
    justify-content: center;
  }
}
/****** login form *****/
.login-form {
  margin: 14rem 4rem;
}

@media (max-width: 800px) {
  .login-form {
    margin: 15rem auto 5rem auto;
  }
}
.prerequis {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: -12px;
}

.public-body {
  display: flex;
  justify-content: center;
  margin-top: 6.5rem;
}
.public-body .logo-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 4rem;
  width: 25rem;
  height: 25rem;
}
.public-body .logo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .public-body {
    margin-top: -5rem;
    flex-direction: column-reverse;
  }
  .public-body .logo-container {
    display: flex;
    margin-top: -2rem;
    margin: auto;
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 420px) {
  .public-body .logo-container {
    margin: auto;
    width: 20rem;
    height: 20rem;
  }
}
.btn {
  height: 2.2rem;
  width: 9rem;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.signup-btn {
  background-color: #FD2D01;
  width: 6rem;
  color: #FFFFFF;
}

.login-btn {
  width: 8rem;
  border: 2px solid #FD2D01;
  background-color: #FFFFFF;
  color: #FD2D01;
}

.act-btn {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 2.2rem;
  width: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #FD2D01;
  cursor: pointer;
}

.disconnect {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.modify-btn {
  color: #FFFFFF;
  background-color: #04AA6D;
}

.delete-btn {
  color: #FFFFFF;
  background-color: red;
}

.profile-section-info {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  height: 20rem;
  width: 35rem;
  border: 3px solid #B6B6B6;
  overflow: hidden;
}
.profile-section-info__img {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}
.profile-section-info__img form {
  margin-left: 0.3rem;
}
.profile-section-info__img form button {
  margin-top: -0.5rem;
}
.profile-section-info__img--ctn {
  height: 20rem;
  width: 15rem;
  position: relative;
}
.profile-section-info__img--ctn__img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.profile-section-info__details {
  margin: 1rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
}
.profile-section-info__details h3 {
  display: flex;
  justify-content: space-between;
}

.btn-box-profile {
  display: flex;
  position: absolute;
  margin-top: 9rem;
}
.btn-box-profile .btn {
  max-width: 8rem;
}

.update {
  cursor: pointer;
}

.update-user-form, .update-bio, .update-job {
  display: none;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 16rem);
  margin-top: 1rem;
}

.input-update {
  height: 2.2rem;
  width: 15rem;
}

.update-forms-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.delete-modal {
  display: none;
  flex-direction: column;
  margin-left: 10%;
  max-width: 50rem;
  height: 8rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  z-index: 99;
  background-color: #FFFFFF;
}

.show {
  display: grid;
}

.show-delete {
  display: flex;
}

@media (max-width: 600px) {
  .profile-section-info {
    flex-direction: column;
    width: 20rem;
    height: 30rem;
  }
  .profile-section-info__details {
    width: 90%;
  }
  .profile-section-info__img {
    height: 15rem;
    width: 20rem;
    margin-left: 2.5rem;
    overflow: hidden;
  }
  .profile-section-info__img form {
    margin-left: 0;
    overflow: hidden;
  }

  .btn-box-profile {
    margin-top: 2rem;
  }

  .update-user-form, .update-bio, .update-job {
    display: none;
    flex-direction: column;
  }

  .delete-modal {
    margin-left: 15%;
  }

  .show {
    display: flex;
  }
}
.update-profile-btn {
  width: 1.5rem;
  background-color: white;
  border: none;
}

.comment-box {
  display: flex;
  flex-direction: column-reverse;
}
.comment-box__container {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  margin: 0.3rem 0.5rem;
  padding: 8px;
  background-color: lightgray;
  border: 1px solid transparent;
  border-radius: 5px;
}
.comment-box__container h4 {
  font-family: "Poppins", sans-serif;
}
.comment-box__container p {
  display: flex;
  align-items: center;
  margin: 0.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.comment-box__trash {
  margin: 0.2rem 1rem 0.2rem auto;
  cursor: pointer;
}

.public-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  background-color: #FD2D01;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 3px 3px 15px 2px #d9d9d9;
}
.public-header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
.public-header nav ul {
  display: flex;
}
.public-header nav ul li {
  margin: 0 0.5rem;
}

.panel {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 2.2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.confirm-panel {
  background-color: lightgreen;
}

.deny-panel {
  background-color: #FD2D01;
}

.fail-login-panel {
  background-color: #FD2D01;
}

.restricted-header {
  display: flex;
  padding-left: 35%;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: #FD2D01;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 3px 3px 15px 2px #d9d9d9;
}

.icons-container {
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
}

.menu-icon {
  margin: 0 1rem;
}

.disconnect {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: #FD2D01;
  border: none;
}

@media (max-width: 600px) {
  .restricted-header {
    padding-left: 0;
  }

  .disconnect span {
    display: none;
  }
}
.post-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-form__content {
  height: 2.2rem;
  width: 100%;
  padding: 8px;
}
.post-form__secondary-input {
  display: flex;
  justify-content: space-between;
}
.post-form__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 3px 4px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

.added {
  background-color: #FD2D01;
}

.dashboard-main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.main-content-section {
  width: 60%;
  border-radius: 1px solid black;
}

.post-btn {
  height: 2.5rem;
  width: 12rem;
  background-color: #FD2D01;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-direction: column-reverse;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 1.25rem auto;
  width: 100%;
  border: 3px solid lightgrey;
}
.post-content__user-info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.post-content__name {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.post-content__name--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: lightgray;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.post-content__content {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0.25rem 0.5rem;
}
.post-content__content--image-container {
  display: flex;
  margin: 0.5rem 5%;
  height: 20rem;
  width: 90%;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
.post-content__content--image-container .post-image {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.post-content__like-box {
  display: flex;
  margin-left: 4px;
  margin-bottom: 0.7rem;
}
.post-content__like-box .heart {
  color: grey;
}
.post-content__comment-box {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.post-content__comment-box h4 {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.like-heart {
  background-color: #FFFFFF;
  cursor: pointer;
}
.like-heart:active {
  color: red;
}

.like-count {
  margin: 0.2rem 1rem 0 0;
}

.dislike-count {
  margin: 0.2rem 1rem 0 0.1rem;
}

.dislike-heart {
  cursor: pointer;
}

.form-comment {
  display: flex;
  justify-content: space-between;
}
.form-comment .comment-form {
  width: 70%;
  margin: 0 8px;
}
.form-comment .comment-form input {
  height: 3rem;
  /* width: 20rem;
  min-width: 10rem; */
  padding-left: 8px;
  font-family: "Poppins", sans-serif;
}
.form-comment .comment-form input::placeholder {
  font-family: "Poppins", sans-serif;
}
.form-comment .refresh-btn {
  height: 3rem;
  font-family: "Poppins", sans-serif;
  margin-right: 8px;
}

@media (max-width: 900px) {
  .main-content-section {
    width: 90%;
  }

  .post-content {
    width: 100%;
  }
}
.modal {
  display: none;
  height: 100vh;
  width: 97vw;
  background-color: #FFFFFF;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.visible {
  z-index: 999;
  margin-top: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

@media (max-width: 900px) {
  .visible {
    width: 90%;
  }
}
.icn-modal {
  display: flex;
  justify-content: flex-end;
}

.close-modal {
  margin: 0 1rem 0 auto;
  cursor: pointer;
}

.modal-post-container {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.filter-main {
  margin: auto;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  margin-left: 0.25rem;
  background-color: white;
  border: none;
}

.tag-container {
  margin-top: 2rem;
  margin-left: 2rem;
}
.tag-container h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.cross {
  cursor: pointer;
}

.tag-admin {
  margin: 2px 4px;
  display: flex;
  align-items: center;
  max-width: 8rem;
  padding: 0 3px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #FFD7D7;
}

.button {
  margin-left: 10px;
  height: 2.2rem;
  width: 6rem;
  background-color: #FD2D01;
  border: 2px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.add-tag-input {
  height: 2.2rem;
  font-family: "Poppins", sans-serif;
  padding-left: 3px;
}
.add-tag-input ::placeholder {
  font-family: "Poppins", sans-serif;
}

.main-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.error-container {
  position: relative;
  height: 25rem;
  width: 25rem;
}
.error-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.link {
  color: #FD2D01;
}

/*# sourceMappingURL=style.css.map */
